@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


body{
    margin: 0px;
    padding: 0px;
}

:root{
    --azul1: #01060f;
    --azul2: #073891;
    --azul3: #2368E8;
    --amarelo1: #694A08;
    --amarelo2: #A87B1C;
    --amarelo3: #E5AB2E; 
    --mont: Montserrat;
    --cinzel: Cinzel;
}

header{
    background-color: var(--azul1);
    height: 150px;

}

header > h1{
    font-family: var(--cinzel);
    color: white;
    margin: 0px;
    text-align: center;
    padding-top: 35px;
    font-variant: small-caps;
    font-size: 3em;
}

#modelo{
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.507);
    border-radius: 5px 20px

}

img{
    display: block;
    margin: auto;
}

main > hr{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.404);
    max-width: 600px;
    min-width: 300px;
}

main > h2{
    text-align: center;
    font-family: var(--mont);
    padding-top: 10px;
}

#exercicios{
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.507);
    border-radius: 10px 20px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

footer{
    background-color: var(--azul1);
    height: 50px;
}

footer > p{
    font-family: var(--cinzel);
    color: white;
    padding-top: 15px;
    text-align: center;
    margin: 0px;

}